<p id="notice"><%= notice %></p>

<h1>Listing Menu Items</h1>

<table class="table table-borderless">
  <thead>
    <tr>
      <th>MenuCategoryName</th>
      <th>Name</th>
      <th>Description</th>
      <th>Price</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @menu_items.each do |menu_item| %>
      <tr>
        <td><%= @menu_categories.find(menu_item.menu_category_id).name %></td>
        <td><%=  menu_item.name %></td>
        <td><%= menu_item.description %></td>
        <td><%= menu_item.price %></td>
        <td><%= link_to 'Show', menu_item %>
        <% if current_user.admin? %> 
          <td><%= link_to 'Edit', edit_menu_item_path(menu_item),class:"btn btn-outline-secondary" %></td>
          <td><%= link_to 'Destroy',menu_item, method: :delete, data: { confirm: 'Are you sure?' } ,class:"btn btn-outline-secondary"%></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<br>

<%= link_to 'New Menu item', new_menu_item_path, class:"btn btn-light" %>
