<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <p>
      <strong>Item Name:</strong>
      <%= @menu_item.name %>
    </p>

    <p>
      <strong>Description:</strong>
      <%= @menu_item.description %>
    </p>

    <p>
      <strong>Price:</strong>
      <%= @menu_item.price %>
    </p>

   <% if current_user.admin? %> 
    <%= link_to 'Edit', edit_menu_item_path(@menu_item),class:"btn btn-light" %> |
  <% end %>
    <%= link_to 'Back', menu_categories_path,class:"btn btn-light" %>
  </div>
</div>

