<%= form_for(@menu_category) do |f| %>
  <% if @menu_category.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@menu_category.errors.count, "error") %> prohibited this menu_category from being saved:</h2>

      <ul>
      <% @menu_category.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <%= f.number_field :menuid,class:"form-control",placeholder:"MenuId"%>
    <br/>
  </div>
  <div class="field">
    <%= f.text_field :name,class:"form-control",placeholder:"MenuName"%>
  </div>
  <br/>
  <div class="actions">
    <%= f.submit class:"btn btn-secondary" %>
  </div>
<% end %>
